<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talk.model.RjsMapper">


	<select id="rjsList" resultType="RjsListDTO" parameterType="HashMap">
		select * from rjsboard
		order by rjsnumber desc
		limit #{pDTO.start}, #{pDTO.limit}
	</select> 
<!-- rjsId 기준으로 page를 불러옴 -->

	<select id="rjsCnt" resultType="java.lang.Integer" parameterType="Integer">
		select count(*) from rjsboard 
	</select>
<!-- 페이징 --> 
 	
 	 <select id="rjsDetail" resultType="RjsListDTO" parameterType="RjsListDTO">
		select * from rjsboard where rjsnumber = #{rjsnumber}
	</select> 
<!-- 디테일 number로 where --> 


	<update id="addCount" parameterType="RjsListDTO">
	update rjsboard set
	rjscnt = rjscnt + 1
	where rjsnumber = #{rjsnumber} 
	</update>
	
	 
</mapper>
